@import url("../../index.css");
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; /* for hamburger Menu */
}
.nav .logo {
  background: url(/src/assets/logo.png) center / contain no-repeat;
  width: 272px;
  height: 65px;
}
.nav ul {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav ul a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-light--2);
  font-weight: bold;
  font-size: 1.5rem;
}
